# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env

# Ignore logs
*.log

# Ignore temporary or OS files
.DS_Store
*.swp
*.swo

# Ignore dependency lock files
Pipfile.lock

# Ignore test directory
testdir/
modified_sources/
outputdir/
outputdir_test/
test/

# Ignore .env file but keep the example
.env
!.env.example